<!DOCTYPE html>
<html>
    <style>
        .btn-group-margin {
            margin: 10px;
        }
        #table-filter {
                padding: 10px;
                margin: 10px;
            }
    </style>
<head>
    <title>{{ uri }}</title>
    <!-- Include any necessary CSS or Bootstrap styles here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="btn-group btn-group-margin" role="group" aria-label="env">
        <a href="{{ 'https://flader.di.digisus-lab.ch/?uri=' + uri + '&env=prod&dir=' + dir }}">
            <button type="button" class="btn btn-secondary {% if env == 'prod' %}active{% endif %}">PROD</button>
        </a>
        <a href="{{ 'https://flader.di.digisus-lab.ch/?uri=' + uri + '&env=int&dir=' + dir }}">
            <button type="button" class="btn btn-secondary {% if env == 'int' %}active{% endif %}">INT</button>
        </a>
        <a href="{{ 'https://flader.di.digisus-lab.ch/?uri=' + uri + '&env=test&dir=' + dir }}">
            <button type="button" class="btn btn-secondary {% if env == 'test' %}active{% endif %}">TEST</button>
        </a>
    </div>

    <div class="btn-group btn-group-margin" role="group" aria-label="dir">
        <a href="{{ 'https://flader.di.digisus-lab.ch/?uri=' + uri + '&env=' + env +'&dir=nominal' }}">
            <button type="button" class="btn btn-secondary {% if dir == 'nominal' %}active{% endif %}">nominal</button>
        </a>
        <a href="{{ 'https://flader.di.digisus-lab.ch/?uri=' + uri + '&env=' + env + '&dir=reverse' }}">
            <button type="button" class="btn btn-secondary {% if dir == 'reverse' %}active{% endif %}">reverse</button>
        </a>
    </div>
    <input type="text" id="table-filter" placeholder="Filter">
    <table id="result-table" class="table table-striped">
        <tr>
            <td>{{ uri }}</td>
            <td>environment: {{ env }}</td>
        </tr>
        <tr>
            <th>{{col_names[0]}}</th>
            <th>{{col_names[1]}}</th>
        </tr>
        {% for index, row in data.iterrows() %}
        <tr>
            <td>{{ row.iloc[0] | safe }}</td>
            <td>{{ row.iloc[1] | safe }}</td>
        </tr>
        {% endfor %}
    </table>
    <script>
        document.getElementById("table-filter").addEventListener("keyup", function() {
            filterTable();
        });
    
        function filterTable() {
            var input, filter, table, tr, td, i, j, txtValue;
            input = document.getElementById("table-filter");
            filter = input.value.toUpperCase();
            table = document.getElementById("result-table");
            tr = table.getElementsByTagName("tr");
    
            for (i = 0; i < tr.length; i++) {
                var visible = false;
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        visible = true;
                        break; // Exit the loop if a match is found in this row
                    }
                }
                tr[i].style.display = visible ? "" : "none";
            }
        }
    </script>
</body>
</html>
