<!DOCTYPE html>
<html>
    <style>
        .btn-group-margin {
            margin: 10px;
        }
    </style>
<head>
    <title>{{ uri }}</title>
    <!-- Include any necessary CSS or Bootstrap styles here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="btn-group btn-group-margin" role="group" aria-label="env">
        <a href="{{ 'https://flader.di.digisus-lab.ch/?uri=' + uri + '&env=prod&dir=' + dir }}">
            <button type="button" class="btn btn-secondary {% if env == 'prod' %}active{% endif %}">PROD</button>
        </a>
        <a href="{{ 'https://flader.di.digisus-lab.ch/?uri=' + uri + '&env=int&dir=' + dir }}">
            <button type="button" class="btn btn-secondary {% if env == 'int' %}active{% endif %}">INT</button>
        </a>
        <a href="{{ 'https://flader.di.digisus-lab.ch/?uri=' + uri + '&env=test&dir=' + dir }}">
            <button type="button" class="btn btn-secondary {% if env == 'test' %}active{% endif %}">TEST</button>
        </a>
    </div>

    <div class="btn-group btn-group-margin" role="group" aria-label="dir">
        <a href="{{ 'https://flader.di.digisus-lab.ch/?uri=' + uri + '&env=' + env +'&dir=nominal' }}">
            <button type="button" class="btn btn-secondary {% if dir == 'nominal' %}active{% endif %}">nominal</button>
        </a>
        <a href="{{ 'https://flader.di.digisus-lab.ch/?uri=' + uri + '&env=' + env + '&dir=reverse' }}">
            <button type="button" class="btn btn-secondary {% if dir == 'reverse' %}active{% endif %}">reverse</button>
        </a>
    </div>

    <table class="table table-striped">
        <tr>
            <td>{{ uri }}</td>
            <td>environment: {{ env }}</td>
        </tr>
        <tr>
            <th>{{col_names[0]}}</th>
            <th>{{col_names[1]}}</th>
        </tr>
        {% for index, row in data.iterrows() %}
        <tr>
            <td>{{ row.iloc[0] | safe }}</td>
            <td>{{ row.iloc[1] | safe }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
